.container {
display: inline-block;
    height:7rem;
    width:33%;
    
    text-align: center;
    padding-bottom: 2%;
    padding-left:10%;
    padding-right:10%;
    
}
.description{
    text-align: center;
    font-size: xx-large;
}
.newgame{
    text-align: center;
}
.wrapper{
    width:30%;
    margin-left:35%;
    margin-right: 35%;
}

