.square{
    background-color: rgb(133, 85, 179);
    height: 100px;
    width: 70%;
    float:left;
    text-align: center;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    margin-left: 15%;  
}
p { 
    display: inline;
    margin: 0px;
    font-size: 5rem;
    overflow: hidden;
  }